pandas
numpy
plotly
seaborn
pygsheets
matplotlib
streamlit
requests
httpx
nbformat
statsmodels
prefect
selenium
bs4
httpx
fuzzywuzzy
selectolax
streamlit_plotly_events

# graph resgression brand name and product detail
# price range
#  rating analysis
# case sensititvity remove
# input list of fsnsrecommendation in gap in market
# input opf apple to apple comparision
# discription datatype
# list of brand default is boat